<p id="notice"><%= notice %></p>
<p>
  <div style="float: right; clear: right;"><b>Welkomen </b>
  <%= @user.username %>        <a href="http://localhost:3000"><button class="btn danger">Log ud</button></div></a>
</p>
 <center><big>Hvad vil du?</big></center>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
